@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    font-family: 'Outfit', sans-serif;
    scroll-behavior: smooth;
    @apply selection:bg-ruby-500 selection:text-lightBg text-lightBg
  }
}

.stroke {
  -webkit-text-stroke-width: 1.5px;
  -webkit-text-stroke-color: #616161;
}

.container {
  @apply flex flex-col min-h-screen;
}

.wrapper {
  @apply flex-grow
}

.main {
  @apply max-w-4xl mx-auto w-full flex flex-col
}

.gradientBg {
  background-image: linear-gradient(to right, #fa0, #fd66cb 25%,#9f6eff 50%,#0af 75%,#0fa);
  background-size: 140%;
}