@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    font-family: 'Outfit', sans-serif;
    scroll-behavior: smooth;
    @apply selection:bg-ruby-500 selection:text-lightBg text-lightBg
  }
}

.stroke {
  -webkit-text-stroke-width: 1.5px;
  -webkit-text-stroke-color: #616161;
}

.container {
  @apply flex flex-col min-h-screen;
}

.wrapper {
  @apply flex-grow
}

.main {
  @apply max-w-4xl px-8 sm:mx-auto w-full flex flex-col
}

.gradientBg {
  background-image: linear-gradient(to right, #fa0, #fd66cb 25%, #9f6eff 50%, #0af 75%, #0fa);
  background-size: 140%;
}

.gradientBg--two {
  background: #DA4453;   
  /* fallback for old browsers */
  background-image: -webkit-linear-gradient(to right, #89216B, #DA4453);
  /* Chrome 10-25, Safari 5.1-6 */
  background-image: linear-gradient(to right, #89216B, #DA4453);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  background-size: 100%;
}

.subscribe {
  background-image: linear-gradient(to right,
          #4cd964,
          #5ac8fa,
          #007aff,
          #34aadc,
          #5856d6,
          #ff2d55);
  background-size: 200%;
  animation: reekoAnimation 23s infinite alternate
}

@keyframes reekoAnimation {
  0% {
      background-position: 0%
  }

  100% {
      background-position: 100%
  }
}